/* Reset sederhana */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y: hidden; */
}

html,
body {
  color: #f8faf0;
  background-color: #3962a0;
  font-family: "Outfit", Arial, sans-serif;
  /* Tambahkan pola titik-titik putih */
  background-image: radial-gradient(circle, #1a417b 9px, transparent 99px);
  background-size: 30px 30px;
}

.container-cv {
  display: flex;
  justify-content: space-around;
  gap: 4em;
  margin: 2em;
  padding: 0;
}

.intro-hi {
  /* margin: 2em; */
  display: flex;
  flex-direction: column;
}

.intro-contact {
  padding-top: 4.5em;
}

.intro-photo {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

.photo-overlay {
  position: relative;
  width: 400px;
  /* margin: 0 auto; */
}

.web-text {
  position: absolute;
  top: 66px;
  left: 120px;
  font-weight: bold;
  text-shadow: 2px 2px 8px #000;
  z-index: 2;
  font-size: 5em;
  padding-left: 0.2em;
  font-family: "Story Script", Courier, monospace;
}

.photo-overlay img {
  display: block;
  padding-top: 5em;
  width: 100%;
  height: auto;
  /* padding-left: 2.8em; */
}

.dev-text {
  position: absolute;
  bottom: -63px;
  left: -127px;
  font-weight: bold;
  text-shadow: 2px 2px 8px #000;
  z-index: 2;
  padding-top: 0.6em;
  padding-left: 2em;
  font-size: 5em;
  font-family: "Story Script", Courier, monospace;
  /* padding-bottom: -10px; */
}

.about {
  padding: 1em;
  /* font-size: 2em; */
}

.education {
  display: flex;
  flex-direction: column;
  /* gap: 9em; */
}

.education .edu-item {
  display: flex;
  gap: 5em;
  padding: 4px;
  /* flex-direction: column; */
}
.lulus {
  padding-left: 4.1em;
}
.sedangmenempuh {
  padding-left: 2.7em;
}

.skills {
  display: flex;
  /* flex-direction: column; */
  gap: 9em;
  padding: 1em;
}

/* Responsive untuk tablet */
@media (max-width: 900px) {
  .container-cv {
    flex-direction: column;
    gap: 2em;
    margin: 1em;
  }
  .photo-overlay {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .intro-hi span {
    text-align: center;
    line-height: 1.2em !important;
  }
  .intro-hi .annyeong {
    font-size: 8em !important;
    /* line-height: 1.1em !important; */
  }
  .intro-hi .myname {
    font-size: 8em !important;
    /* line-height: 1.1em !important; */
  }
  .intro-hi .is {
    font-size: 7em !important;
  }
  .contact-and-photo {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .web-text {
    font-size: 4em;
    left: 136px;
    top: 70px;
    bottom: 10px;
  }
  .dev-text {
    font-size: 4em;
    left: -64px;
    top: 660px;
    bottom: 10px;
  }
  .lulus {
    padding-left: 8em !important;
  }
  .skills {
    /* flex-direction: column; */
    gap: 14em;
    padding: 1em;
  }
}

/* Responsive untuk handphone */
@media (max-width: 600px) {
  .container-cv {
    flex-direction: column;
    gap: 1em;
    margin: 0.5em;
  }
  .intro-hi span {
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* font-size: 2em !important; */
    line-height: 1.1em !important;
  }
  .intro-hi .annyeong {
    font-size: 4em !important;
  }
  .intro-hi .myname {
    font-size: 4em !important;
  }

  .intro-hi .is {
    font-size: 4em !important;
  }

  .intro-hi .abdian {
    padding-left: 16px;
  }
  .contact-and-photo {
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;
  }
  .intro-contact {
    font-size: 1.4em;
    /* margin-bottom: 2em; */
  }
  .photo-overlay {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
  .web-text {
    font-size: 3.5em;
    left: -25px;
    top: 585px;
    bottom: 5px;
  }
  .dev-text {
    font-size: 3.5em;
    left: -15px;
    top: 550px;
    bottom: 5px;
  }
  .about {
    padding: 0.5em;
    font-size: 1em;
  }
  .lulus {
    margin-left: -6.3em;
  }
  .skills {
    /* flex-direction: column; */
    gap: 6.6em;
    padding: 0.5em;
  }
}
